{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        <div class="sahaj-logo">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        </div>
        <div class="sahaj-menu">
          <ul>
            <li> <a href="http://sahajsoft.com#team">TEAM</a> </li>
            <li> <a href="http://sahajsoft.com#services">SERVICES</a> </li>
            <li> <a href="http://sahajsoft.com#product">PRODUCTS</a> </li>
            <li> <a href="http://sahajsoft.com#about">ABOUT US</a> </li>
            <li> <a href="http://sahajsoft.com#blog">BLOGS</a> </li>
            <li> <a href="http://sahajsoft.com#career">CAREERS</a> </li>
            <li> <a href="http://sahajsoft.com#contact">CONTACT US</a> </li>
          </ul>
        </div>
        <div class="sahaj-blog-menu">
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
        </div>
    </nav>
    <div class="vertical">
      <div class="main-header-content inner">
        <div class="blog-header-sidebar"><span class="blog-header-line"></span></div>
        <div class="blog-header-description"><h2 class="page-description">{{@blog.description}}</h2></div>
        <div class="blog-header-sidebar"><span class="blog-header-line"></span></div>
        <div class="cleared"></div>
        </div>
    </div>
</header>

<main class="content" role="main">

  <div class="blog-body">
    <article class="{{post_class}}">
    <div class="blog-excerpt-author">
        {{#if author.image}}<img class="author-blog" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
    </div>
    <div class="blog-excerpt">
        <footer class="post-meta">
	    {{author}}
	    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
	    <a class="lm10" href="{{url}}#disqus_thread">Comments</a>
        </footer>

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>
        {{/author}}

        <section class="share">
            <h4>Share this post</h4>
            <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
            </a>
            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
            </a>
            <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
            </a>
        </section>

        <section>
		{{! Disqus comments snippet here }}
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'sahajsoft';
		    var disqus_identifier = 'ghost-{{id}}';
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{{! Disqus comments snippet end here }}
        </section>
        </footer>
    </div>
  </div>
  <div class="blog-sidebar">
      <p class="blog-sidebar-header">Most Read Post</p>
      <div class="most-read-blog">

        <div class="most-read-header">
            <div class="most-read-image">
                {{#if author.image}}<img class="author-blog" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
            </div>
            <div class="most-read-author">
	        <p class="grey-header">Manish Pillewar</p>
	        <p class="grey-header">3 Comments</p>
            </div>
            <div class="most-read-date">
	        <time class="grey-header" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
            </div>
        </div>

        <div class="most-read-content">
           <section class="">
              <h1 class="post-title"> 4 Critical factors: Experience Design(XD) for businesses success </h1>
<p>Looking to inject some innovation into your product lifecycle? You’ve developed “awesome” software that nobody uses? Limited by your tech stack? Need to understand your customer’s mind a bit better? Enter Experience Design (XD). No, it isn’t the panacea of all software development ills, but can surely help kickstart the process of customer-spection and disruptive thinking. Here are 4 factors by which ...
              <br/>
              <br/>
 <a href="http://52.10.44.41/2015/10/07/4-critical-factors-experience-design-xd-for-businesses-success/">Continue Reading ...</a>
              </p>
            </section>
        </div>
      </div>
  </div>

  <div class="cleared"></div>
  </article>
</main>

{{/post}}
